{% extends 'base.html' %}
{% block title %}
    Market Page
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row" style="margin-top:20px; margin-left:20px">
            <div class="col-12">
                <h2>List of tuition fee need to pay</h2>
                <p>Click on one of the tuition to start paying</p>
                <br>
                <table class="table table-hover table-dark">
                    <thead>
                    <tr>
                        <!-- Your Columns HERE -->
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Fee</th>
                        <th scope="col">Description</th>
                        <th scope="col">Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Your rows inside the table HERE: -->
                    {% for tuition in tuitions %}
                        {% include 'includes/items_modals.html' %}
                        <tr>
                            <td>{{ tuition.id }}</td>
                            <td>{{ tuition.name }}</td>
                            <td>{{ tuition.price }}</td>
                            <td>{{ tuition.description }}</td>
                            <td>
                                <button class="btn btn-outline btn-success" data-toggle="modal"
                                        data-target="#Modal-PurchaseConfirm-{{ tuition.id }}">Pay this tuition
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-12">
                <h2>Paid Tuition</h2>
                <p>List of tuition that already paid</p>
                <br>
                <table class="table table-hover table-dark">
                    <thead>
                    <tr>
                        <!-- Your Columns HERE -->
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Fee</th>
                        <th scope="col">Paid by</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Your rows inside the table HERE: -->
                    {% for fee in fees %}
                        <tr>
                            <td>{{ fee.name }}</td>
                            <td>{{ fee.description }}</td>
                            <td>{{ fee.price }}</td>
                            <td>{{ fee.owner }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}